<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <h1>2023 Video Game Releases</h1>
    <nav>
        <a href="/">HOME</a>
        <a href="/games/AAA">AAA</a>
        <a href="/games/Indie">INDIE</a>
        <a href="/games/new">ADD GAME</a>
    </nav>
    <main>
        <h3><%= title %></h3>