body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 50px 1fr;
  grid-template-areas: 
    "h1"
    "nav"
    "main"
}

body > h1 {
  grid-area: h1;
  background-color: aliceblue;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-size: 1.8vmin;
  font-weight: 50px;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

#pic > #gaming {
  width: 100vw;
}

#top-left {
  position: absolute;
  top: 150px;
  left: 16px;
  color: white;
}

h3 {
  margin: 25px;
  font-size: 2vmin;
  font-weight: 40px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

game > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

game > ul > section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5vmin;
}

section > h4 {
  background-color: aliceblue;
  margin: 0;
  width: 50vmin;
  height: 5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

section > img {
  width: 50vmin;
}

section > button {
  background-color: #424748;
  color: white;
  margin: 0;
  font-size: 1.5vmin;
  width: 50vmin;
  height: 5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

section > button:hover {
  background-color: white;
  color: #424748;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 2vmin;
}

main {
  background-color: blanchedalmond;
}